<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <title>About films</title>
    </head>
<body>
    {% if user.is_authenticated %}
        <h1><a href="/">Site about films</a></h1>
            {% block content %}
            {% endblock %}
    {% endif %}
</body>
</html>
