<h1> Это страничка фильма под номером {{ film.id }} </h1>
<h3> Его имя - {{ film.tilte }} </h3>
<h3> Его описание - {{film.desc}}</h3>
{% if film.pub_date %}
<h3> Film date - {{ film.pub_date }} </h3>
{% else %}
<h3> Film date - Unknown </h3>
{% endif %}
<h3> Film rate - {{ film.rate }} </h3>
<ul>
    {% for comment in rev %}
        <li> {{ comment.review }}, {{comment.pub_date}}
    {% endfor %}
</ul>
