{% extends 'coolapp/base.html' %}

{% block content %}

<h1> Список всех фильмов на сайте: </h1>
<ul>
    {% for film in films %}
        <li> {{ film }}, <a href="/film/{{film.id}}"> Личная страничка </a> </li>
    {% endfor %}
</ul>

{% endblock content %}