{% extends 'coolapp/base.html' %}

{% block content %}

<h1>New film</h1>
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

{% endblock content %}